<div class="row">
  <div class="col-lg-6" style="display:block; margin:auto">
  
    <nb-card>
      <nb-card-header>Envia mensajes a los clientes</nb-card-header>
      <nb-card-body>
        <div class="card-body ">
              
              <div class="form-group row">
                <!-- <label class="col-md-3 form-control-label" for="textarea-input">Textarea</label> -->
                <div class="col-md-12">
                  <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Escribe un mensaje..." [(ngModel)]="msg" maxlength="280"></textarea>
                </div>
              </div>
              
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-success" (click)="enviar_clientes()" [disabled]="msg == ''" ><i class="fa fa-dot-circle-o"></i> Enviar</button>
            </div>
            <br><br>
            <div class="form-group row">
                <label style="font-weight: bold;">Notificaciones previas</label><br>
                <div class="col-md-12">
                    <div  *ngFor="let item of notificaciones_clientes">
                      <p style="border-radius: 1px">{{item.mensaje}} - {{item.created_at}}</p><hr>
                    </div>
                </div>
            </div>


      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6" style="display:block; margin:auto">
  
    <nb-card>
      <nb-card-header>Envia mensajes a los Proveedores</nb-card-header>
      <nb-card-body>
        <div class="card-body ">
              
              <div class="form-group row">
                <!-- <label class="col-md-3 form-control-label" for="textarea-input">Textarea</label> -->
                <div class="col-md-12">
                  <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Escribe un mensaje..." [(ngModel)]="msgp" maxlength="280"></textarea>
                </div>
              </div>
              
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-success" (click)="enviar_proveedores()" [disabled]="msgp == ''" ><i class="fa fa-dot-circle-o"></i> Enviar</button>
            </div>
        <br>
         <div class="form-group row">
                <label style="font-weight: bold;">Notificaciones previas</label><br>
                <div class="col-md-12">
                    <div  *ngFor="let item of notificaciones_proveedores">
                      <p style="border-radius: 1px">{{item.mensaje}} - {{item.created_at}}</p><hr>
                    </div>
                </div>
            </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>



<toaster-container [toasterconfig]="config"></toaster-container>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
</div>


